div.wizard ul li {
	margin-bottom: 0 !important;
}

.form-input span.value {
	padding-top: 15px;
	font-weight: bold;
	font-size: 13px;
	display: block;
	margin-left: 15px;
}

#detail_popup {
	display: none;
	width: 47%;
	float: right;
	height: 350px;
	border: 1px solid #DDDDDD;
	margin-right: 10px;
	margin-top: 10px;
}

#detail_popup ul {
	width: 90%;
	margin: auto;
	height: 300px;
	margin-top: 25px;
	text-align: left;
}

#detail_popup ul li {
	list-style: none;
	padding: 7px 0;
	width: 90%;
}

#detail_popup ul li span.title {
	font-weight: bold;
	display: block;
	width: 30%;
	float: left;
}

#detail_popup ul li span.value {
	display: block;
	width: 64%;
	float: right;
}

li.active a {
	background-color: #555;
	background-image: -o-linear-gradient(top, #555, #333);
	background-image: -ms-linear-gradient(top, #555, #333);
	background-image: -moz-linear-gradient(top, #555, #333);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555),
		to(#333) );
	background-image: -webkit-linear-gradient(top, #555, #333);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#555555', endColorstr = '#333333', GradientType = 0 );
	color: #FFF !important;
	zoom: 1;
}
#edit_popup{
	display: none;
	width: 47%;
	float: right;
	height: 350px;
	border: 1px solid #DDDDDD;
	margin-right: 10px;
	margin-top: 10px;
}
#edit_popup ul {
	width: 90%;
	margin: auto;
	height: 300px;
	margin-top: 25px;
	text-align: left;
}

#edit_popup ul li {
	list-style: none;
	padding: 7px 0;
	width: 90%;
}

#edit_popup ul li span.title {
	font-weight: bold;
	display: block;
	width: 30%;
	float: left;
}

#edit_popup ul li span.value {
	display: block;
	width: 64%;
	float: right;
}
#edit_popup ul li span.value input{
	width: 100%;
}