.search_header
{    
    width :auto;
    }
.search-left-menu
{
	border:1px solid #464646;
	width:20%;
	float:left;
	height:457px;
}
.search-center-content
{	
	border:1px solid #464646;
	width:48%;
	float:left;
	height:457px;
}
.search-right-menu
{
	border:1px solid #464646;
	float:left;
	height:457px;
	width:30%;
}
.top-left-menu
{
    font-size:x-large;
	font-family:Times New Roman;
	text-align : center;
    }
    
.image-top-left-menu
{
    text-align:center;
    padding-left:0px;
 
    }    
    
    
    
.title
{
    font-size:x-large;
    font-family :Times New Roman;
    text-align:center;
    margin-top : 30px;
    }    
    
.search-button
{
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #FEFEFE, #EEEEEE);
    border-color: #AAAAAA;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.15);
    color: #111111;
    text-shadow: 0 1px 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    padding: 4px 10px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    }
    
.checkbox
{
    margin-top :30px;
    margin-left:30px;
    text-decoration: none;
        }