					
					<ul>
                		<li>
                			<span class="title">Fullname</span>:<span id="name" class="value"></span>
                		</li>
                		<li>
                			<span class="title">Email</span>:<span id="mail" class="value">mail@company.com</span>
                		</li>
                		<li>
                			<span class="title">Birtday</span>:<span class="value">20/11/2011</span>
                		</li>
                		<li>
                			<span class="title">Username</span>:<span class="value">username</span>
                		</li>
                		<li>
                			<span class="title">Gender</span>:<span class="value">Male</span>
                		</li>
                		<li>
                			<span class="title">Phone</span>:<span class="value">+084 555 888 5555</span>
                		</li>
                		<li>
                			<span class="title">Website</span>:<span class="value">http://company.com</span>
                		</li>
                		<li>
                			<button id="btn_back" class="button fl" >Back</button>
                			<button id="btn_edit" class="button fr" >Edit</button>
                		</li>
                	</ul>